/*
 Theme Name:     Valenti Child
 Theme URI:      http://themeforest.net/user/cubell
 Description:    Valenti Child Theme
 Author:         Cubell
 Author URI:     http://themeforest.net/user/cubell
 Template:       valenti
 Version:        1.0
*/


/* =Theme customization starts here. Any CSS code entered here will overwrite the parent's CSS.
-------------------------------------------------------------- */

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(fonts/OpenSans-Semibold.ttf);
}


#cb-nav-bar #cb-main-menu .main-nav {
    background-color: #21abbf;
}
main-menu .main-nav .cb-icons .cb-menu-icon a i {
    color: #ffffff;
}
.cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: underline;
}
.cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: none;
}

.element.style{
    color:red;
}

#cb-nav-bar #cb-main-menu .main-nav {
    background-color: #21abbf;
}
main-menu .main-nav .cb-icons .cb-menu-icon a i {
    color: #ffffff;
}
.cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: underline;
}
.cb-module-a .cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: none;
}
.cb-slider-b .cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: none;
}
#cb-recent-posts-2 .cb-sidebar-widget-title{
     color: #086a78;
    text-decoration: none;
}
.cb-module-b .cb-module-header .cb-module-title{
    color: #086a78;
    text-decoration: none;
}
.cb-module-e .cb-module-header .cb-module-title {
    color: #086a78;
    text-decoration: none;
}
.cb-meta .cb-post-title a,.cb-date time,.cb-excerpt{
    color:#6d7f82;
}
.fa{
    color:#21abbf;
}
.cb-byline a{
     color:#6d7f82;
    
}
 .cb-search .cb-search-submit{
    background-color:#9dd2e1;
}
.cb-search-submit .fa{
    color:#ffffff;
}
.cb-search .cb-search-field{
    background-color:#eceff3;
    border:0px;
}
.cb-sidebar-widget .cb-sidebar-widget-title {
    background: #eceff3;
   
}
.cb-sidebar-widget a, .cb-meta a{
    color: #6d7f82;
}
.cb-sidebar-widget .cb-light{
    background-color:#eceff3;
}
.cb-light h2 a {
    color: #6d7f82;
}
.cb-icon-search .cb-tip-bot .fa{
    color: #ffffff;
}
.cb-social-media-widget .cb-social-media-icon {
    height: 45px;
    width: 45px;
}
.cb-social-media-icon {
    height: 100%;
    width: 100%;
}
#cb-footer {
    background-color: #2d3e41;
    border-top: 0px;
}
#cb-footer .cb-footer-a .cb-column {
    border-right: 0px;
}
.cb-one,.cb-two,.cb-three{
    background-color:#2d3e41;
}

body{
    font-style: Open Sans Condensed Bold;
}


.cb-module-header{
    background:#eceff3;
}

#cb-footer #cb-widgets > div {
	background: #2d3e41;
}
.cb-social-media-widget .cb-facebook {
    background: url(images/Front.png) 0 0 no-repeat;
    background-position: -79px;
}
.cb-social-media-widget .cb-twitter {
    background: url(images/Front.png) 0 0 no-repeat;
    background-position: -20px;
}
.cb-social-media-widget .cb-youtube {
	background: url(images/Front.png) 0 0 no-repeat;
	background-position: -138px;
}
#cb-footer .cb-social-media-widget {
	text-align: right;
}


div#text-2 {
	padding:0;
	margin-top:-45px;
}

#cb-footer #cb-widgets .cb-footer-widget-title {
    margin-top:-50px;
    margin-bottom: -10px;

}

footer .cb-column #text-3 {
    float: right;
     padding-right: 28px;
     font-size:18px;
     color:#e3e6ea;

}
#cb-footer #cb-widgets .cb-footer-widget-title span {
    font-size: 24px;
}
#text-2 > .textwidget > p {
    font-size: 24px;
    color:#e3e6ea;
    text-align: center;
}
#text-2 .textwidget p .fa-phone, #text-2 .textwidget p .fa-envelope {
    color:#e3e6ea;
}
@media only screen and (min-width: 768px) {
    .cb-stuck #cb-nav-bar .cb-nav-bar-wrap {
        position: static;   
    }
}
header > nav#cb-nav-bar > #cb-main-menu > ul.clearfix > li > a {
    font-size: 19px;
    font-family: 'OpenSans-Semibold';
}
footer #text-4 > .textwidget > img {
    padding-left: 15px;
}
footer #text-4 > .textwidget {
    margin-left: 15px;
}
footer > #cb-widgets > .cb-three {
    padding-right:20px;
}
@media only screen and (min-width: 1020px) {
	#cb-footer .cb-footer-wrap .cb-footer-widget {
		padding:20px;
	}
    #cb-section-a {
        margin-top:0;
        padding-top:0;
    }
    #cb-footer .cb-footer-wrap .cb-footer-widget {
        padding:0;
        margin:0;
    }
}
ul, li {
    list-style-type:none;
}
.cb-gs-style-a .cb-style-overlay .cb-article-meta {
    display: none;
}

#cb-footer .cb-footer-wrap .cb-footer-widget:nth-child(2) {
        padding:0 28px 0 0;
        margin-top:10px;
}

.cb-sidebar-widget .cb-sidebar-widget-title, .cb-multi-widget .tabbernav .tabberactive, .cb-author-page .cb-author-details .cb-meta .cb-author-page-contact, .cb-about-page .cb-author-line .cb-author-details .cb-meta .cb-author-page-contact, .cb-page-header, .cb-404-header, .cb-cat-header, #cb-footer #cb-widgets .cb-footer-widget-title span, #wp-calendar caption, .cb-tabs ul .current, .cb-tabs ul .ui-state-active, #bbpress-forums li.bbp-header, #buddypress #members-list .cb-member-list-box .item .item-title, #buddypress div.item-list-tabs ul li.selected, #buddypress div.item-list-tabs ul li.current, #buddypress .item-list-tabs ul li:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border:none;
}
.lwa .cb-form-body input[type="password"]:hover, .lwa .cb-form-body input[type="password"]:focus, .lwa .cb-form-body input[type="text"]:hover, .lwa .cb-form-body input[type="text"]:focus, .cb-join-modal .cb-form-body input[type="password"]:hover, .cb-join-modal .cb-form-body input[type="password"]:focus, .cb-join-modal .cb-form-body input[type="text"]:hover, .cb-join-modal .cb-form-body input[type="text"]:focus {
    background: #20abbe;
}
.lwa .cb-form-body i, .cb-join-modal .cb-form-body i {
    background: #096a7a;
    width:12%;
}
.lwa .cb-form-body input[type="submit"], .cb-join-modal .cb-form-body input[type="submit"] {
    background: #95d1dc;
}
.lwa .cb-form-body input[type="submit"], .cb-join-modal .cb-form-body input[type="submit"] {
    border: 3px solid #22a9bd;
}
.lwa .cb-form-body input[type="password"], .lwa .cb-form-body input[type="text"], .cb-join-modal .cb-form-body input[type="password"], .cb-join-modal .cb-form-body input[type="text"] {
    background: #20abbe;
    width:88%;
}

.cb-modal {
    box-shadow: 0px 0px 20px gray;
    max-width: 600px;
}
#cb-section-b {
    max-width:1200px;
    margin:auto;
}
#cb-nav-bar.cb-dark-menu {
    background: #21abbf;
}
.cb-mega-menu {
    width:100%;
}
#cb-content {
    max-width: 1200px;
}
.cb-modal-dark .cb-modal {
    background:#95d1dc;
}
#cb-search-modal .cb-search .cb-search-field {
    background:#20abbe;
}
#cb-search-modal .cb-search .cb-search-submit {
    background: #096a7a;
}
#cb-overlay {
    background: #e7ecf2;
}
.share_icon_site {
    height:50px;
    background: #eceff3;
    margin:auto;
}
.share_icon_site li {
    height:50px;
/*    float: right;*/
    max-width: 1200px;
    margin:auto;
    padding:0 30px;
    line-height: 50px;  
}
.share_icon_site li .fa-bold, .share_icon_site li .fa-facebook, .share_icon_site li .fa-instagram {
    float: right;
    line-height: 50px;
    margin-left: 30px;
    font-size: 25px;    
}
.share_icon_site li .fa-bold, .share_icon_site li .fa-facebook {
    color:#6d7f82;
}


header nav #cb-main-menu ul li .fa-user {
    color:white;
}
@media only screen and (min-width: 481px) {
    .cb-boxed #cb-container {
        box-shadow: none;
    }
}
@media only screen and (min-width: 1200px) {
    div#cb-cat-header {
        margin:0 30px;
    }
    .wrap {
        width:100%;
    }
    .container_width_otmetka {
        width:1200px;
        margin:auto;
    }
    #cb-nav-bar #cb-main-menu .main-nav li .cb-mega-menu {
        width:100%;
    }
    #cb-nav-bar #cb-main-menu .main-nav li > a {
        padding: 16px 15px;
    }
    #cb-container > section > .cb-slider-b{
        padding:0 30px;
        background: none;
    }
    #cb-nav-bar.cb-dark-menu #cb-main-menu .main-nav li .cb-big-menu .cb-articles .cb-recent {
        border-left:none;
    }
}
@media only screen and (min-width: 768px) {
    #cb-nav-bar #cb-main-menu {
        padding:0 15px;
    }
    #cb-nav-bar.cb-dark-menu #cb-main-menu .main-nav li .cb-big-menu {
        background: #95d1dc;
    }
    #cb-nav-bar.cb-dark-menu #cb-main-menu .main-nav li .cb-big-menu .cb-sub-menu {
        border:none;
    }
    #cb-nav-bar.cb-dark-menu #cb-main-menu .main-nav li .cb-big-menu .cb-articles .cb-featured {
        border:none;
    }
}
header#cb-full-width-featured {
    max-width: 1200px;
    padding: 0 30px;
}
.cb-fis-tl-default .cb-fis-big .cb-entry-header .cb-title-fi {
    opacity: .5;
}
.box-social-network a{
    display: block;
    float: right;
}
.box-social-network a i{
    float: right !important;
    line-height: 50px  !important;
    margin-left: 20px !important;
    font-size: 25px !important;
    color: #6d7f82;
}
.box-social-network a i.fa-youtube-play{
    color: #27a8bb ;
}
.current-menu-item{
    background-color:#086a78 !important;
}
.cb-social-media-icon{
    display: none !important;
}
#title_introduce{
    margin-top: 25px;
}
.box{
    background-color: #eceff3;
    margin-top: 25px;
}
#box1{
    height: 95px;
    width: 95px;
    background-color: #21abbf;
    margin-top: 30px;
    margin-left: 20px;
}
#menu2{
    width: 750px;
    height: 60px;
    background-color: #eceff3;
    margin-top: 35px ;
    margin-left: 30px;
    border-bottom: #9dd2e1 solid 3px;
    float: left;
}
#menu3{
    width: 360px;
    height: 60px;
    background-color: #9dd2e1;
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}
.title_menu3{
    color: #f8fcfd;
    margin-top: 20px;
}
#recent-posts-2 .cb-sidebar-widget-title{
    display: none;
}
#main{
    float: left;
    margin-top: 30px;
}
.menu4 .title_menu4{
    float: right;
    width: 360px;
    height: 60px;
    color: #086a78;
    margin-top: 30px;
    margin-right: 30px;
    background-color: #eceff3;
    border-bottom: #9dd2e1 solid 3px;
}
 .paragrap .title_menu4{
    padding-top: 15px;
}
#scroll_1 p{
    float: right;
    height: 255px;
    overflow: scroll;
    width: 360px;
    margin-right: -360px;
    margin-top: 120px;
    background-color: #eceff3;
}
#menu5{
    float: right;
    width: 360px;
    margin-top:32%; 
    margin-right: -390px;
}
#parent{
    float: right;
    width: 202px;
    height: 47px;
    background:#eceff3;
    margin-top:43% ;
    margin-right: -210px;
    padding-top: 15px;
}
#bussiness{
    float: right;
    width: 120px;
    height: 47px;
    background: #eceff3;
    margin-top:43% ;
    margin-right: -350px;
    padding-top: 15px;
}
.cb-sidebar #search-2{
    display: none !important;
}
#box_2{
    float: right;
    margin-top:50%;
    margin-right:-360px;
    width:360px ;
    height: 250px; 
    background: #eceff3;
    width: 360px;
}
#search2{
    width: 360px;
    float: right;
    margin-top:75%; 
    margin-right:-360px; 
}
#best_interesting{
    float:right; 
    width: 360px;
    height: 60px
    background: #eceff3;
    margin-top:81%; 
    margin-right:-385px;
}
#sidle{
    float: right;
    width: 360px;
    height: 240px;
    background:#eceff3; 
    margin-top:92%;
    margin-right:-360px; 
}
.sidle #img_video1{
    width: 240px;
    height: 240px;
    margin-left:60px;
}
.color-option{
    color: #6d7f82;
}
#categories_link{
    margin-top: -30px;
    margin-left: 30px;
}
#cb-container .share_icon_site{
    height: 45px;
}
#box_sub_categories #categories_2{
    color: #6d7f82;
}
#categories{
    background-color: #eceff3;

}
#box_categori_3{
    float: right;
    width: 360px;
    margin-top: 43%;
    margin-right: -32%;
}
#paragrap_categori{
    background-color: #eceff3;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6d7f82;
    height: 45px;
}
#content_1{
    padding-right: 0;
}





